.inner-background {

  >span>button,  >span>a {
    color: #fff;
    min-width: 200px;
    padding: 10px 20px;
    border: 2px outset whitesmoke;

    &:hover {
      color: #fff;
      background: rgba(255, 255, 255, .2);
    }

    &:first-child {
      margin-bottom: 50px;
    }
  }
}
